.App {
  text-align: center;
}

.maindiv {
  margin: 30px;
  background-color: lightcyan;
  

  
}
.body {
  float: right;
  width: 65%;
  
}

.weatherIcon{
  width: "10px";
 height: "10px";
}
.weatherDiv {
  border: "3px";
  border-style: solid;
  border-color: #282c34;
  background-color: white;
  border-radius: "5px";
  margin-top: 5px;
  display: flex;
  width: fit-content;
  align-content: center;
  position: relative;
  border: 3px solid;
  
  width: 85%;
 
  
}
.button {

}
.imgDIv {
  backgroundColor: white;
  borderRadius: "10px";
  position: "relative";
  overflow: scroll;
  border: 3px solid;

  width: fit-content;
}

.weatherDIv {
  min-width: 30px;
   min-height: 30px;
   display: flex;
   flex-direction: column;
}

.form {
  width:50%;
  margin-left: 25%;
}
.mainBody{
  height :auto;
  overflow-y: auto;
}

.text {
  color: darkslategrey;
  
}
.text :hover{
  color: red;
  
}
.lostOfloc {
  text-align: center;
text-decoration-color: darkgray;

  border: #282c34;
  border-style: solid;
  border-width: "2px";
  float: left;
  width:30%;
 height: 450Px;
  overflow: auto;
  scroll-behavior: auto;
 
}
.dateTimediv {
  text-align: center;
  display: flex;
  flex-direction: row;
  position: relative;
  align-content: center;
}
.header {
 text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
